@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Tagesschrift&display=swap'); 
body {
    /* font-family: "Tagesschrift", system-ui; */
    /* font-family: "Cal Sans", sans-serif; */
    font-family: "Cascadia Mono", sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;  /* Horizontal center*/
    align-content: center;    /* Vertical center*/
    /* width: 55%; */
    /* border: 1px solid; */
    height: 55em;
    margin-left: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    width: 90%;
    height: 800px;
}

a {
    text-decoration: none;
    color: black;
}

.fortable {
    /* border: 1px solid; */
    width: 90%;
}


table {
    border-collapse: collapse;
    text-align: center;
    height: 500px;
    font-family: "Cal Sans", sans-serif;
    width: 100%;
    
}

th, td , caption {
    border: 1px solid;
    /* width: 100%; */
    /* border-radius: 10px; */
}

caption {
    margin-bottom: 5px;
    padding: 5px;
    font-size: 1.5em;
    border-radius: 5px;
}

.td1:hover, .td2:hover, .td3:hover ,
.td4:hover, .td5:hover, .td6:hover ,
.td7:hover, .td8:hover, .td9:hover ,
.td10:hover, .td11:hover, .td12:hover,
.td13:hover, .td14:hover
{
    background-color: #948787;
}

