.ecesr {
    background-color: #1996fc;
    // transform: rotate(-90deg);
    // display: inline-block;
    // padding: 1em;
    // writing-mode: sideways-rl;
    writing-mode: sideways-lr;
    // writing-mode: vertical-lr;
    // writing-mode: vertical-rl;
    // transform: rotate(180deg);
    font-weight: bold;
}

.dayinmL {
    background-color: #45f13f;
}

.weekD {background-color: #e5edf3;}